/*fonts*/
		@import url('https://fonts.googleapis.com/css?family=Merienda&display=swap');
		/* font-family: 'Merienda', cursive; */
		@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
		/*font-family: 'Open Sans', sans-serif;*/
		@import url('https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap');
		/* font-family: 'Odibee Sans' ; */
/*loading*/		
		/* .loading_bg{
			position: fixed;
			width: 100vw;
			height: 100vh;
			background: #9fb9d0;
			left:0;
			top:0;
			z-index: 20;
			box-shadow: 0px 0px 27px -3px #063952 inset;
			display: none;
		} */

		.loading_bg>div{
			position: absolute;
			right:50%;
			bottom:50%;
			transform: translateY(50%) translateX(50%);	
			text-align: center;
		}

		.loading_bg>div>img{
			width:100%;
			margin: 20px 0;
			height: auto;
			display: inline-block;
			animation: cogwheel_rotates 4s linear infinite
		}

		.loading_bg>div>h2{
			text-align: center;
			font-family: 'Merienda', cursive;
			font-size: 40px;
		}

		@keyframes cogwheel_rotates {
			from{
				transform: rotate(0deg);
			}
			to{
				transform: rotate(360deg)
			}
		}
/*body*/
		body{
			font-family: 'Open Sans', sans-serif;
			color:white;
		}
/*nav*/ 
		.navbar{
			background: #05316D;
			position: fixed;	
			width: 100%;
			z-index: 20;
			padding: 20px 16px;
		}

		.navbar ul{
			flex-direction: row;
			justify-content: center;
			margin:20px 0;
		}

		.navbar ul>li{
			display:inline-block;
			font-size: 18px;/*18*/
			margin:0 5px;	
		}

		.navbar ul>li>a{
			color:white;
			padding:5px;
			text-transform: uppercase;
		}

		.navbar ul>li>a:hover{
			color:#6996D3;
			text-decoration: none;
		}

		.navbar-brand{
			margin-left: 15px;
			color:white;
			font-size: 45px;
			font-family: 'Odibee Sans' ;
		}

		.navbar-dark .navbar-toggler{
			border: none;
		}
/*first_block*/
		#first_block{
			background: #4380D3;
			padding:150px 0 50px;
		}

		#first_block p{
			font-size:20px;
			text-align: center;
		}
		
		h1{
			font-size: 50px;
			text-align: center;
			margin:50px 0;
			font-family: 'Odibee Sans' ;
		}
/*portfolio*/
		.portfolio{
			padding-bottom: 100px;
		}
		h2{
			text-align: center;
			margin:100px 0 50px;
			font-size: 40px;
			color: #0F4FA8;
			text-transform:uppercase;
		}

		.works_item{
			margin-bottom:30px;
			position: relative;
		}

		.works_item img{
			width:100%;
			height: auto;
			display: block;
		}

		.works_item a{
			display: block;
			width: 100%;
			height: 100%;
			left:0;
			top:0;
			position: absolute;

		}

		.works_item a:hover{
			background: #284c7ec7;
		}

		.works_item a:hover:after{
			content:'';
			display: block;
			position: absolute;
			left:50%;
			top:50%;
			transform:translate(-50%) translateY(-50%);
			background:url(../images/upper_right_arrow_icon.svg) no-repeat 100% 100%;
			width: 50px;
			height: 50px;
		}

/*skills*/
		#skills{
			background: #4380D3;
			padding:  0 0 50px;
		}

		#skills h2{
			color:white;
		}

		#skills p{
			font-size: 20px;
			letter-spacing: 2px;
		}
/*contacts*/
		#contacts{
			margin-bottom: 20px;
		}

		#contacts h2{
			margin-bottom: 70px;
		}
		#contacts p{
			color:#0F4FA8;
			text-align:center;
			margin-bottom:30px;
			font-size: 25px;
		}
/* footer */	
		footer{
			background: #05316D;
			padding:30px 0;
		}	
		footer p{
			margin:0;
			text-align: center;
		}
 

@media (min-width: 576px){
	.navbar ul>li{
			margin:0 15px;	
		}
}
@media (min-width: 768px){
	.navbar-collapse.collapse{
		justify-content: flex-end;
	}
}